<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tyss.listeners.TestingLoginFeature"/>
      <class name="scripts.UrbanLadderHomePageTest"/>
      <class name="scripts.ActiTimeAccountTest"/>
      <class name="scripts.ActiTimeAccountTest2"/>
      <class name="scripts.AccountTest"/>
      <class name="scripts.AnnotationsDemo1"/>
      <class name="scripts.AnnotationsDemo2"/>
      <class name="parallelscripts.ParallelExecutionDemo1"/>
      <class name="parallelscripts.ParallelExecutionDemo2"/>
      <class name="rough.ActitimeDemoTest"/>
      <class name="parallelscripts.ParallelExecutionDemo3"/>
      <class name="rough.SVGHandling"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
